body.purple-rain {
    background: #eae2f2;
}

.purple-rain .main-box.profile {
  width: 85%;
  background: rgb(52 26 73);
  margin: 0 auto 0 auto;
  padding: 35px 0 40px 0;
  border-radius: 5px;
}

.purple-rain .main-box.profile .send-message,
.purple-rain .main-box.profile .sign-in {
  color: rgba(255,255, 255, 0.7);
  font-size: 15px !important;
  background: #402458;
}

.purple-rain .main-box.profile .send-message:hover,
.purple-rain .main-box.profile .sign-in:hover {
  color: rgba(255,255, 255, 1);
}

.purple-rain .website .ant-input-wrapper.ant-input-group .ant-input-group-addon {
  background: #eae2f2;
}

.purple-rain .website .ant-input.ant-input-lg.ant-input-outlined {
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-left: 0;
  border-radius: 0;
  background:#eae2f2;
  color: #000000;
}

.purple-rain .camera-background {
  background: #eae2f2;
}