body.sandy {
    background: #f3f0e7;
}

.sandy .main-box.profile {
  width: 85%;
  background: #4e2c17;
  margin: 0 auto 0 auto;
  padding: 35px 0 40px 0;
  border-radius: 5px;
}

.sandy .main-box.profile .send-message,
.sandy .main-box.profile .sign-in {
  color: rgba(255,255, 255, 0.7);
  font-size: 15px !important;
  background: #57321a;
}

.sandy .main-box.profile .send-message:hover,
.sandy .main-box.profile .sign-in:hover {
  color: rgba(255,255, 255, 1);
}

.sandy .website .ant-input-wrapper.ant-input-group .ant-input-group-addon {
  background: #f3f0e7;
}

.sandy .website .ant-input.ant-input-lg.ant-input-outlined {
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-left: 0;
  border-radius: 0;
  background: #f3f0e7;
  color: #000000;
}

.sandy .camera-background {
  background: #f3f0e7;
}